body{
    padding: 0;
    margin: 0;
}
.nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 70px;
    height: 70px;
    overflow: hidden;
    background-color: #333;
}
.active_nav{
    background-color: #DDD;
    color: #222;
}
.nav_ul_li {
    float: left;
}

.nav_ul_li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}
p{
    width: 50%;
}
ul{
    list-style-type: none;
}
.setred
{
    color: white;
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 5px;
}
.setblue
{
    color: white;
    background-color: blue;
    text-align: right;
    width: 100px;
    height: 100px;
    margin: 5px;
}

.circelized
{
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 100%;
    text-align: center;
    font-size: 32px;
    border: 2px solid #666;
    background-color: purple;
    color: yellow;
    
    text-align: center;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    text-align-last: center;
    
    display: inline-block;
}
.circle{
    height: 120px;
    width: 120px;
    line-height: 120px;
    border-radius: 100%;
    text-align: center;
    font-size: 32px;
    border: 2px solid #666;   
    
    display: inline-block;
    background-color: yellowgreen;
}
.the_circles{
    
    text-align: center;
   
    
}